/* inactive */
.slick-slider .slick-dots li button:before {
  font-size: 12px !important;
  color: rgb(133, 118, 118) !important;
  opacity: 0.5 !important;
}

/* active */
.slick-slider .slick-dots li.slick-active button:before {
  color: #fc037b !important;
  opacity: 1 !important;
}