@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #29283f;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}